.form-bg-color{
    background: linear-gradient(to right, rgba(52, 36, 121, 0.9), rgba(52, 36, 121, 1));

    color: white;
}

.h-50vh{
    height: 50vh;
}
.border{
    border-radius: 25px;
}
.friend-list {
    display: block;  Initially hide the friend list 
    margin-top: 10px;
    border-color: none;
    border-radius: 5px;  Rounded corners 
    max-height: 600px;  Max height of the list 
    overflow-y: auto;  Enable vertical scrolling 
}

.friend-list-item {
    display: flex;  Use flexbox for layout 
    align-items: center;  Center items vertically 
    padding: 10px;
    cursor: pointer;  Show pointer cursor on hover 
    transition: background-color 0.3s ease;  Smooth transition for background color 
    justify-content: space-between;
}

.friend-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;  Make it round 
    background-color: #ccc;  Default background color 
    margin-right: 10px;  Add spacing 
}

.friend-name {
    margin: 0;  Remove margin for consistency 
    font-weight: bold;  Make the name bold 
}

.friend-list-item:hover {
    background-color: #297bcd;  Light gray background color on hover 
}

 Add custom scrollbar styles 
.friend-list {
    overflow-y: auto;  Enable vertical scrolling 
    margin-top: 30px
}

.add-icon{
    margin-left: auto;  Push the icon to the right 
    color: #ffffff;
    cursor: pointer;
}
.add-icon:hover {
    color: #f80c18;  Change color on hover 
}