.page-container {
    background-color: #e4e7f5;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.friend-hover:hover {
    background-color: #7f5ee5;
    transition: background-color 0.25s ease-in;
    cursor: pointer;
}

.friend-hover:hover button {
    background-color: white;
    color: #00e4e3;
}
