.show-clients{
    cursor: pointer;
}

#show-clients-dialog{
    border-radius: 10px;
    border: 1px;
    width: 57%;
    max-width: 550px;
}

#show-clients-dialog::backdrop{
    background: rgb(0, 0, 0, 0.5);
}

.dialog-header{
    border-bottom: 1px solid #CED0D4;
}

.client-name-dialog{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    font-size: large;
    font-weight: 500;
}

.leader-tag{
    font-weight: normal;
    font-size: 14px;
}

.client-avatar-dialog{
    width: 100%;
}

.dialog-title{
    text-align: center;
}

.client-row{
    margin-top: 15px;   
    height: 40px;
}

.client-row a{
    width: 10%;
    min-width: 60px;
}

.show-client-btn{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: white;
}

.show-client-btn:hover{
    background: rgb(0, 0, 0, 0.1);
}

.show-client-btn:active{
    background: rgb(0, 0, 0, 0.2);
}

.btn-active{
    border-bottom: 4px solid #0866FF;
}


.chat-client-avatar {
    cursor: pointer;
}

.chat-client-name {
    background-color: #5e73e2;
    color: #5f5f61;
    top: -100%;
    padding: 0 0.5rem;
    border-radius: 0.2rem;
    font-weight: 500;
    box-shadow: 3px 3px 8px 0 grey;
    left: 0;
    text-wrap: nowrap;
    z-index: 10;
    visibility: hidden;
}
