.show-clients{
    cursor: pointer;
}

#show-clients-dialog{
    border-radius: 10px;
    border: 1px;
    width: 57%;
}

#show-clients-dialog::backdrop{
    background: rgb(0, 0, 0, 0.5);
}

.dialog-header{
    border-bottom: 1px solid #CED0D4;
}

.client-name-dialog{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: large;
    font-weight: 500;
}

.client-avatar-dialog{
    width: 100px;
}

.dialog-title{
    text-align: center;
}

.client-row{
    margin-top: 15px;   
}

.chat-client-avatar {
    cursor: pointer;
}

.chat-client-name {
    background-color: #5e73e2;
    color: #5f5f61;
    top: -100%;
    padding: 0 0.5rem;
    border-radius: 0.2rem;
    font-weight: 500;
    box-shadow: 3px 3px 8px 0 grey;
    left: 0;
    text-wrap: nowrap;
    z-index: 10;
    visibility: hidden;
}