.search-icon {
    border: none;
}

.search-btn {
    border: none;
    background: none;
}

.search-form {
    background-color: #25386d;
    padding: 0.5rem;
    border-radius: 1.25rem;
}

.search-form > input {
    border: none;
    background-color: transparent;
    color: whitesmoke;
    text-indent: 0.5rem;
    outline: none;
}

.fa-bell {
    font-size: 1.5rem;
}

.chat-container {
    background-color: #e4e7f5;
    padding: 2rem 1rem;
}

.chat-layout {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 1rem;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1rem 0.5rem;
    gap: 2rem;
    border-radius: 0.25rem;
    background-color: white;
}

.search-chatbox-form {
    background-color: white;
    padding: 0.75rem;
    border-radius: 0.25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: solid 2px grey;
}

.search-chatbox-form > input {
    border: none;
    background-color: transparent;
    color: black;
    text-indent: 0.5rem;
    outline: none;
    width: 100%;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 0.5rem;
}

ul, li {
    list-style: none;
}

#chatBoxtList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 0!important;
}

#chatBoxtList > li {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    cursor: pointer;
}

#chatBoxtList > li:hover {
    background-color: #7f5ee5;
    border-radius: 0.5rem;
    transition: background-color 0.5s ease-out;
}

.chat-window {
    border-radius: 0.25rem;
    background-color: white;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
}

.chat-header {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.chat-header .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #80808080;
    border-radius: 0.25rem;
    height: 4rem;
}

.chat-footer button {
    border: none;
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    border-left: solid 1px #80808080;
    background: transparent;
}

#messageInput {
    outline: none;
    border: none;
    width: 100%;
    text-indent: 1rem;
}

#messages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 500px;
    overflow-y: scroll;
}

#messages > li > span {
    background-color: #a160fe;
    color: white;
    width: fit-content;
    padding: 0.15rem 0.25rem;
    border-radius: 0.2rem;
    font-weight: 500;
    opacity: 0.9;
    position: relative;
}

#messages > li > span:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-right: 10px solid #a160fe;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #a160fe;
    border-top: 10px solid transparent;
    left: -7px;
    bottom: 0;
    z-index: -1;
}

#messages > .self-msg > span {
    background-color: red;
}

#messages > .self-msg > span {
    background-color: #00e4e3;
    color: white;
    width: fit-content;
    padding: 0.15rem 0.25rem;
    border-radius: 0.2rem;
    font-weight: 500;
    opacity: 0.9;
    position: relative;
}

#messages > .self-msg > span:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-right: 10px solid transparent;
    border-left: 10px solid #00e4e3;
    border-bottom: 10px solid #00e4e3;
    border-top: 10px solid transparent;
    right: -7px;
    bottom: 0;
    z-index: -1;
}
<<<<<<< HEAD:TalkBuddy.Presentation/wwwroot/css/header.css

#messages > .self-msg > span:before {
    display: none;
}

#messages li small {
    font-size: 0.75rem;
    font-weight: 300;
}

.logout-container {
    min-width: 200px;
    margin-top: 75%;
    background-color: #C4CCF3;
    border-radius: 0.75rem;
    right: 0;
    display: none;
    z-index: 10;
    box-shadow: 10px 15px 5px -5px rgba(0,0,0,0.1);
}

.logout-container > p {
    color:  #272931;
    font-weight: bold;
    font-size: 1.1rem;
=======
.bell-icon{
    margin-right: 20px;
}
.notification-container {
    position: relative;
    display: inline-block; /* Ensures the container takes only the space needed */
}

.bell-icon {
    font-size: 24px; /* Adjust the size as needed */
    cursor: pointer;
}

.notification-box {
    position: absolute;
    top: calc(100% + 10px); /* Adjust the distance between the bell icon and the notification box */
    right: 50%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    width: 500px;
    z-index: 999; /* Ensure the box appears above other content */
    max-height: 200px; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling if needed */
}

.notification-box.active {
    display: block;
}
.notification-item {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Align items vertically in the center */
}

.avatar {
    margin-right: 10px; /* Add spacing between the avatar and the content */
    border-radius: 50px;
}

.description,
.time {
    margin: 0; /* Remove default margins */
}
.notification-content .description {
    flex-grow: 1; /* Allow the description to grow to fill available space */
    margin-left: 30px;
>>>>>>> 8a3e987 ([Notification][Hai] update handle show notifications and read notifications):TalkBuddy.Presentation/Pages/ChatPage.cshtml.css
}
