@inject IHttpContextAccessor HttpContextAccessor

@using TalkBuddy.Common.Constants
<div class="w-100 d-flex justify-content-between align-items-center py-3 px-5" style="background-color: #5e73e2;">
    <form method="post" class="search-form">
        <input type="text" placeholder="Type to search..." />
        <button type="submit" class="search-btn">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </button>
    </form>
    <div class="d-flex justify-content-between align-items-center gap-4">
        <i class="fa-solid fa-bell add-icon text-white"></i>
        <div class="position-relative">
            <img class="rounded-circle" id="user-avatar" style="cursor: pointer;" width="40" height="40" src="/default-avatar.png" alt="User avatar"/>
            <div class="position-absolute p-3 logout-container" id="logout-container">
                <p>@HttpContextAccessor.HttpContext!.Session.GetString(SessionConstants.USER_NAME)</p>
                <div class="w-100 text-center fw-bold">
                    <button type="submit" id="btn-logout" class="btn btn-primary text-center">Log out</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
}