@page
@using TalkBuddy.Presentation.Components
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TalkBuddy.Domain.Entities
@model TalkBuddy.Presentation.Pages.Moderator.Reports.Index

@{
    Layout = "Shared/_PrivateLayout";
    var reportsList = TempData["reportsList"] as IEnumerable<Report> ?? new List<Report>();
}

<link rel="stylesheet" href="~/css/header.css"/>

<section class="h-100 w-100 d-flex flex-column justify-content-start" style="background-color: #e4e7f5;">
    <component type="typeof(Header)" render-mode="Static"/>
    <div class="d-flex justify-content-center align-items-start h-100" style="background-color: #e4e7f5;">
        <div class="d-flex flex-column justify-content-center align-items-center h-100" style="width: 30%">
            <h2 class="text-center">Reports list:</h2>

            <ul class="navbar-nav flex-grow-1 flex-column w-100 gap-1" style="max-height: 650px; overflow: hidden;">
                @foreach (var report in reportsList)
                {
                    <li class="nav-item p-2" style="cursor: pointer; transition: background-color 0.3s ease-out; display: grid; grid-template-columns: repeat(3, 1fr)">
                        <span>@report.Id</span>
                        <div class="d-flex justify-content-start align-items-center gap-1" data-friend-id="@report.Id">
                
                            <div class="offline-status"></div>
                            <span class="online-status-text">offline</span>
                        </div>
                        <div class="d-flex justify-content-end align-items-center gap-2">
                            <form method="post" asp-route-friendId="@report.Id">
                                <button id="submit-button" type="submit" class="btn btn-primary">
                                    <i class="fa-solid fa-message"></i>
                                </button>
                            </form>
                            <form method="post" asp-page-handler="RemoveFriend" asp-route-friendId="@report.Id">
                                <button type="submit" class="btn btn-primary" onclick="openPopup()">
                                <i class="fa-solid fa-xmark"></i>
                                </button>
                            </form>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>