@page
@using TalkBuddy.Domain.Entities
@using TalkBuddy.Domain.Dtos
@using System.Collections
@using TalkBuddy.Common.Enums

@model AddFriendPage
@{
    var friendList =  TempData["friendList"] as IEnumerable<DtoClientForFriend> ?? new List<DtoClientForFriend>();

}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card form-bg-color border h-50vh">
                <div class="card-body ">
                    <h5 class="card-title">Search Friend</h5>
                    <form method="post" >
                        <div class="input-group">
                            <input type="text"  asp-for="UserName" class="form-control" placeholder="Enter your friend" />
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    @if(friendList.Count() > 0){
                        <div class="friend-list" id="friendList">
                            @foreach(var client in friendList)
                            {
                                <div class="friend-list-item">
                                    <div class="friend-avatar"><a href="@client.ProfilePicture"></a></div>
                                    <p class="friend-name">@client.Name</p>
                                    @if (!client.RelationStatus.Equals(FriendShipRequestStatus.YOURSELF))
                                    {
                                        @if(client.RelationStatus.Equals(FriendShipRequestStatus.REJECTED) || client.RelationStatus == null){
                                            <form method="post" asp-page-handler="HandleAddFriend">
                                                <input type="hidden" asp-for="FriendId" value="@client.id"/>
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa-solid fa-user-plus add-icon"></i>                      
                                                </button>
                                            </form>
                                        }
                                        else if(client.RelationStatus.Equals(FriendShipRequestStatus.ACCEPTED))
                                        {
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa-solid fa-message add-icon"></i> 
                                            </button>
                                        }
                                        else if(client.RelationStatus.Equals(FriendShipRequestStatus.WAITING))
                                        {
                                            <form method="post" asp-page-handler="HandleCancelInvitation">
                                                <input type="hidden" asp-for="FriendId" value="@client.id"/>
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </button>
                                            </form>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
        
