.search-icon {
    border: none;
}

.search-btn {
    border: none;
    background: none;
}

.search-form {
    background-color: #25386d;
    padding: 0.5rem;
    border-radius: 1.25rem;
}

.search-form > input {
    border: none;
    background-color: transparent;
    color: whitesmoke;
    text-indent: 0.5rem;
    outline: none;
}

.fa-bell {
    font-size: 1.5rem;
}

.chat-container {
    background-color: #e4e7f5;
    padding: 2rem 1rem;
}

.chat-layout {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 1rem;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1rem 0.5rem;
    gap: 2rem;
    border-radius: 0.25rem;
    background-color: white;
}

.search-chatbox-form {
    background-color: white;
    padding: 0.75rem;
    border-radius: 0.25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: solid 2px grey;
}

.search-chatbox-form > input {
    border: none;
    background-color: transparent;
    color: black;
    text-indent: 0.5rem;
    outline: none;
    width: 100%;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 0.5rem;
}

ul, li {
    list-style: none;
}

#chatBoxtList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 0 !important;
}

#chatBoxtList > li {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    cursor: pointer;
}

#chatBoxtList > li:hover {
    background-color: #7f5ee5;
    border-radius: 0.5rem;
    transition: background-color 0.5s ease-out;
}

.chat-window {
    border-radius: 0.25rem;
    background-color: white;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
}

.chat-header {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.chat-header .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #80808080;
    border-radius: 0.25rem;
    height: 4rem;
}

.chat-footer button {
    border: none;
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    border-left: solid 1px #80808080;
    background: transparent;
}

#messageInput {
    outline: none;
    border: none;
    width: 100%;
    text-indent: 1rem;
}

#messages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 500px;
    overflow-y: scroll;
}

#messages > li {
    background-color: #00e4e3;
    color: white;
    width: fit-content;
    padding: 0.15rem 0.25rem;
    border-radius: 0.2rem;
    font-weight: 500;
    opacity: 0.9;
    position: relative;
}

#messages > li:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 10px solid #00e4e3;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #00e4e3;
    border-top: 10px solid transparent;
    left: -7px;
    bottom: 0;
    z-index: -1;
}