@page
@using TalkBuddy.Domain.Entities;
@using TalkBuddy.Presentation.Components;
@model TalkBuddy.Presentation.Pages.FriendsListModel
@{
    var friendsList = TempData["friendsList"] as IEnumerable<Client> ?? new List<Client>();
    TempData["showPopup"] = false;
}

<link rel="stylesheet" href="~/css/header.css"/>

<section class="h-100 w-100 d-flex flex-column justify-content-start" style="background-color: #e4e7f5;">
    <component type="typeof(Header)" render-mode="Static"/>
    <div class="d-flex justify-content-center align-items-start h-100" style="background-color: #e4e7f5;">
        <div class="d-flex flex-column justify-content-center align-items-center h-100" style="width: 30%">
            <h2 class="text-center">Friends list:</h2>

            <ul class="navbar-nav flex-grow-1 flex-column w-100" style="max-height: 650px; overflow: hidden;">
                @foreach (var friend in friendsList)
                {
                    <li class="nav-item p-2 d-flex justify-content-between align-items-center" style="cursor: pointer; transition: background-color 0.3s ease-out;">
                        <span>@friend.Name</span>
                        <div class="d-flex justify-content-between gap-2">
                            <form method="post" asp-page-handler="RemoveFriend" asp-route-friendId="@friend.Id">
                                <button id="submit-button" type="submit" class="btn btn-primary">
                                    <i class="fa-solid fa-message"></i>
                                </button>
                            </form>
                            <button type="submit" class="btn btn-primary" onclick="openPopup()">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>

<div id="popup-container" style="display: none">
    <component type="typeof(ConfirmationPopup)" render-mode="Static"
        param-message='"Are you sure to delete this user from your friends list?"' />
</div>

@section scripts {
    <script>
        function openPopup() {
            document.getElementById("popup-container").style.display = "block";
        }

        function hidePopup() {
            document.getElementById("popup-container").style.display = "none";
        }

        function confirmPopup() {
            console.log('Yes is clicked');
            document.getElementById("submit-button").click();
        }
    </script>
}
