@page
@using TalkBuddy.Domain.Entities
@model Profile

<link rel="stylesheet" href="~/Profile.cshtml.css" />
<div class="">
    <div class="row image-row mt-5">
        <img src="https://wallpapers.com/images/hd/cool-profile-picture-87h46gcobjl5e4xu.jpg" class="profile-picture rounded-circle" alt="Profile Picture"/>
        <button class="btn switch-input-btn">
            <svg fill="#ffffff" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="XMLID_88_"> <path id="XMLID_89_" d="M304.394,139.394l-139.39,139.393L25.607,139.393c-5.857-5.857-15.355-5.858-21.213,0.001 c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393s7.794-1.581,10.606-4.394l149.996-150 c5.858-5.858,5.858-15.355,0-21.213C319.749,133.536,310.251,133.535,304.394,139.394z"></path> <path id="XMLID_90_" d="M154.398,190.607c2.813,2.813,6.628,4.393,10.606,4.393s7.794-1.581,10.606-4.394l149.996-150 c5.858-5.858,5.858-15.355,0-21.213c-5.857-5.858-15.355-5.858-21.213,0l-139.39,139.393L25.607,19.393 c-5.857-5.858-15.355-5.858-21.213,0c-5.858,5.858-5.858,15.355,0,21.213L154.398,190.607z"></path> </g> </g></svg>
        </button>
    </div>
    <div class="row edit-profile-row form-bg-color h-50vh justify-content-center">
        <div id="form-card" class="card-body">
            <h5 class="card-title">Profile</h5>
            <form method="post" >
                <div class="form-group mb-3">
                    <label for="floatingInput">Name</label>
                    <!-- <p class="input-after">Stiven Castillo</p>-->
                    <input type="text" class="form-control input-round" id="floatingInput" placeholder="Name"> 
                    <span class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label for="floatingInput">Email address</label>
                    <input type="email" class="form-control input-round" id="floatingInput" placeholder="name@example.com">
                    <span class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label for="floatingPassword">Password</label>
                    <input type="password" class="form-control input-round" id="floatingPassword" placeholder="Password">
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let switchModeBtn = document.getElementsByClassName("switch-input-btn")[0];
    switchModeBtn.addEventListener("click", () => {
        let editProfileRow = document.getElementsByClassName("edit-profile-row")[0];
        let formCard = document.getElementById("form-card");
        formCard.classList.toggle("text-white");
        editProfileRow.classList.toggle("background-go-down");
        switchModeBtn.classList.toggle("btn-go-down");
    });
</script>
